 <div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 4</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
In this Lab, you will practice using Pandas. By the end of this lab, you will be familiar with the many methods used for Creating columns (default and calculated), concatenating, Appending, Renaming and Reording in Python.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
In this Lab you will learn:
<ol>
    <li><a href="#p1">Create new columns</a></li>
    <li><a href="#p2">Concatenate dataframes and Append Data</a></li>
    <li><a href="#p3">Rename and Reorder of Columns</a></li>
    <li><a href="#p4">Groupby, Case WHEN and WHERE</a></li>
    <li><a href="#p5">Practice Questions</a></li>
</ol>

Estimated Time Needed: <strong>60 min</strong>
</div>

In [ ]:
# 2. Import Python Libraries
import pandas as pd
import numpy as np

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p1>Part 1 : Create new Columns (Default and Calculated) </a></h1>
</div>

In [ ]:
# Expand the number of columns
pd.set_option('max_columns', 500)

In [ ]:
# define variables for the csv files, this step is not mandatory 
#but it will help to understand the importing data step in Python

File_1 = "Salaries.csv"

In [ ]:
# Read the csv file 
raw_df = pd.read_csv(File_1)

In [ ]:
# be sure that the file is imported

In [ ]:
# SETTING A DEFAULT COLUMN VALUE
raw_df["Benchmarks"] = 70000

In [ ]:
# be sure that the column is added

In [ ]:
# CALCULATE A COLUMN
raw_df["Salary_score"] = round(raw_df["salary"] / raw_df["Benchmarks"], 2)
raw_df.head()

In [ ]:
raw_df.columns

In [ ]:
# DROPPING a COLUMN
# Method 1: Subset the dataframe by including only spescific columns.
Subset_raw_df=raw_df[['rank','discipline','service']]
Subset_raw_df

In [ ]:
# Method 2: Use the drop method to drop the salary column.
Subset_raw_df=raw_df.drop(['sex','salary'], axis=1)
Subset_raw_df.head()

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Part 2 : Concatenate a dataframe and Append</a></h1>
</div>

In [ ]:
# Append data to a dataframe
#Create a list
append_to_df1 = []

append_to_df1.append(
  ["123", "Omar", "36"]
  )

df1 = pd.DataFrame(append_to_df, columns=["ID", "Name", "Age"])

df1.head()

In [ ]:
# Append data to a dataframe
#Create a list
append_to_df2 = []

append_to_df2.append(
  ["123", "Omar", "36"]
  )

df2 = pd.DataFrame(append_to_df_1, columns=["ID", "Name", "Age"])

df2.head()

In [ ]:
combined_df = pd.concat([df1, df2], ignore_index=True, sort=False)
combined_df

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p3>Part 3 : Rename and Reorder of Columns </a></h1>
</div>

In [ ]:
# Change column names
# select some columns from the original dataframe
subset_raw_df=raw_df[['rank','discipline','service']]

# check the created dataframe
subset_raw_df.head()
subset_raw_df.columns = ["Original_Rank", "discipline",'service']
# check the change
subset_raw_df.head()

In [ ]:
# We can also use the rename method

subset_raw_df.rename(columns={'Original_Rank':'new_Rank'},inplace=True)
subset_raw_df.head()

In [ ]:
# Reorder the columns
column_names=['service', 'Original_Rank', 'discipline']
df = subset_raw_df.reindex(columns=column_names)
df.head()

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p4>Part 4 : Groupby, Case WHEN and WHERE </a></h1>
</div>

In [91]:
df = pd.read_csv(File_1)

In [ ]:
# Group by

df1=df.groupby(['rank','sex'], sort = True)
df1.head()

In [ ]:
df2=df.groupby(['sex'], sort = True)['rank'].count()
df2.head()

In [ ]:
# WHERE
df_male = df[ df['sex'] == 'Male']
df_male.head()

In [ ]:
# Using filtering, find the mean value of the salary for the discipline A
df[ df['discipline'] =='A'].salary.mean()

In [ ]:
# CASE WHEN
# Method 1 - Using NUMPY
df["salary_rank"] = np.where(df["salary"] >=90000, "large", "small")
df.head()

In [92]:
# Method 2
#   TEMPLATE FORMULA: df.loc[(condition), new_column_name] = value

df.loc[(df["salary"] >= 100000), 'salary_rank'] = "large"
df.loc[(df["salary"] < 100000), 'salary_rank'] = "small"
df

         rank discipline  phd  service     sex  salary salary_rank
0        Prof          B   56       49    Male  186960       large
1        Prof          A   12        6    Male   93000       small
2        Prof          A   23       20    Male  110515       large
3        Prof          A   40       31    Male  131205       large
4        Prof          B   20       18    Male  104800       large
..        ...        ...  ...      ...     ...     ...         ...
73       Prof          B   18       10  Female  105450       large
74  AssocProf          B   19        6  Female  104542       large
75       Prof          B   17       17  Female  124312       large
76       Prof          A   28       14  Female  109954       large
77       Prof          A   23       15  Female  109646       large

[78 rows x 7 columns]

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p5>Part 5 : Practice Questions </a></h1>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #1:</h1>
<b>Read the csv file Auto</b>
</div>

In [ ]:
# <your code goes here>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #2:</h1>
<b>Create a subset dataframe of the original file that include only the first 8 columns </b>
</div>

In [ ]:
# <your code goes here>


<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #3:</h1>
<b>Rename the column fuel type and put it the first column</b>
</div>

In [ ]:
# <your code goes here>


<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #4:</h1>
<b>
Group data by the discipline and find the average salary for each group</b>
</div>

In [ ]:
# <your code goes here>


<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #5:</h1>
<b>
Extract (filter) only observations with high salary ( > 100K) and find how many female and male professors in each group</b>
</div>

In [ ]:
# <your code goes here>